@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}
a {
  text-decoration: none;
  color: #000;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.auth-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.auth-form {
  width: 500px;
}

.bg-light-200 {
  background-color: rgb(211, 211, 211);
}

/*HEADER COMPONENT*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
}
.header ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header ul li {
  margin-left: 20px;
  line-height: 2.2;
}
.header ul li a {
  display: flex;
  align-items: center;
}
.header ul li a:hover {
  color: #777;
}
.header ul li a svg {
  margin-right: 5px;
}
.text {
  color: white;
  font-size: 14px;
  min-width: 5em;
}
.text-lg {
  color: white;
  font-size: 16px;
  min-width: 8em;
}

.custom-link {
  font-size: 14px;
}
.custom-link:hover {
  background-color: rgba(44, 44, 44, 0.87) !important;
  color: white;
}
.dark-gray {
   background-color: #333333;
}